<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have a new recommendation, <%= @patient.full_name %></h1>
    <p>
      To see your recommendation, just follow this link: <%= @url %>.
    </p>
  </body>
</html>
